<html>
  
  <head>
  	<link rel="stylesheet" href="style.css">
  </head>
  
  <body>

    <div>
        <h1> <strong>Wanted</strong> </h1>

        <img src="https://i.imgur.com/I8fqBgA.png"> 

        <p>Name: Kazuma Kiryu</p>
        <p>Wanted for: Murder, Assualt, Fighting a tiger, and more</p>
        <p>If seen, please call the police. Suspect is armed with fists
          and very dangerous.
        </p>
        <p>Tips? Visit this site <a href="https://crimewatchers.net/forum/index.php">
        to hand tips to authority</a></p>

        <p><strong>Reward: ¥10,000,000 </strong></p>


    </div>

  </body>
  
</html>