div
{
 text-align: center;
 border: 5px ridge rgb(230, 230, 230);
 background: rgb(255, 121, 121);
 overflow: hidden;
 width:450px;
 float: center;
}

img{
    width: 300px;
}

p
{
    font-size: 30px;
    font-weight: bold;
    
}
